# Ignore bundler config.
/.bundle

# Ignore all tempfiles.
/tmp/*
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

.byebug_history

/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore simplecov coverage folder
/coverage

# Ignore the generated test app
/.test_app

Gemfile.lock
*.gem
*.DS_Store
